<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client node</title>
  </head>
  <body>
    <h1>Hello <%= @name %>, this is your node using the server mirror!</h1>
  </body>
</html>
